
body {background-image: url("Josh.jpg");
	background-repeat: no-repeat;
	background-position: top center;
	background-size: 125px 113px;
	background-color:turquoise;
	}
	
h1 {color: black;
	text-align:center;
	font-family:Verdana;}
h3 {color: black;
	text-align:center;
	font-family:castellar;}
p {color: black;
	text-align:center;
	font-family:forte;
	font-size:40px;}

<style>
a:link {
  color: black;
  background-color: transparent;
  text-decoration: underline;
}

a:hover {
  color: red;
  background-color: transparent;
   text-decoration: underline;
}

 a {
  color: black;
  background-color: transparent;
  text-decoration: underline;
}
</style>
